<div class="jumbotron">
  <h1><center>Words</center></h1>
</div>

<% @list.each do |word_name| %>
  <h4><a href="/word_names/<%= word_name.id %>"><%= word_name.word %></a></h4>
<% end %>

<h4>Add a word to the list:</h4>
<form action="/" method="post">
  <div class="form-group">
    <label for="name">Word:</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
