<div class="jumbotron">
  <h1><center><%= @word.word %></center></h1>
</div>

<br><br><br>
<h4>Add a definition:</h4>
<form action="/word_names/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
